/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.carousel-text {
    color: #000c17;
    font-size: 18px;
    margin-top: 20px;
}

.continue-button-style {
    margin-top: 100px;
}